.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem; /*24 px*/
  padding-top: 3.2rem; /*32px*/
  padding-bottom: 0;
}
.logoLink{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem; /*32px*/
  font-size: 4.2rem; /*42px*/
  font-weight: bold;
  text-decoration: none;
  color: var(--primary);
  transition: all 0.5s;
  }

.logoLink:hover {
  filter: brightness(80%);


}

.logoLink svg {
  width: 6.4rem;
  height: 6.4rem;
}